body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #000000, #f5f5f5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
h1 {
    margin-top: 30px;
    color: #092ae4;
}
 
.card {
    background: #ffffff;
    width: 320px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(245, 45, 45, 0.2);
    text-align: center;
    margin-top: 150px;
}
 
input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #999999;
    font-size: 14px;
    outline: none;
}
 
button {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #1d3fa6, #6a1fa2);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
 
button:hover {
    opacity: 0.9;
}
 
.links {
    margin-top: 10px;
    font-size: 14px;
}
 
.links a {
    color: #1d3fa6;
    text-decoration: none;
    font-weight: bold;
}
 